.body_loading{
    text-align: center;
    justify-content: center;
    align-items: center;
        background-color: black;
        width: 200px;
    
        
        display: block;
        margin: 0;
        padding: 0;


       
        

        .Atleticos_Loading{
            width: 100%;
            
        }
        .cargando {
            margin-top: 0px;
            width: 100px;
          
        }

        h1{
            color: red;
        }
        color: white;
    
    }
   


