.contenedor_Card_loading{
    width: 320px;
    height: 400px;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border:2px groove red;
    border-radius: 10px;

 
   

}

form div h4{
    text-align: justify;
    width: 230px;
    font-size: 12px;
}
form div h1{
height:70%;
border:none;   
font-size:larger;
font-size: 30px;
font-weight: bold;
border: 2px;
border-bottom: double black;
margin-right: 20px;
margin-left: 5px;
}

form div h1::before{
content: "";
width: 1%;
height: 4px;
background-color:black;
position: absolute;

}

form div h1::after{
content: "";

}



div img {
width: 25px;
align-items: center;

}

form div div {
 align-items: center;
 margin-bottom:10px ;
}
label{
text-align: justify;
}

.checked_Recordar{
    display: contents;
    width: 30%;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    label{
        margin-top: -9px;
    }
    
}
.Olvidaste{
    margin-left: 15px;
    font-size: 14px;
    color: brown;
    font-weight: 700;
    cursor: pointer;
   
}

.Olvidaste:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
.Olvidaste:active{
    color: rgb(1, 59, 25);
    font-weight: 700;
    text-decoration: underline;
    
}

.Grupo_REgistro{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    display: flex;
    width:100%;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.Olvidaste_registro{
    margin-left: 2px;
    color: brown;
    font-weight: 700;
    cursor: pointer;
}
.Olvidaste_registro:hover{
    color: red;
    font-weight: 700;
    text-decoration: underline;
    
}
.Olvidaste_registro:active{
    color: rgb(1, 59, 25);
    font-weight: 700;
    text-decoration: underline;
    
}

.Grupo_pass_olvidar{
 
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 25px;
    margin: 10px;
    padding: 5px;
}
.Grupo_pass_olvidar input {
    border: none; /* Eliminar el borde predeterminado del input */
    outline: none; /* Eliminar el resaltado al enfocar el input */
    background-color: transparent; /* Hacer el fondo del input transparente */
    width: 100%; /* Para que el input ocupe todo el espacio disponible */
   
  }
  .Grupo_pass_olvidar img {
    cursor: pointer;
  } 

  .errores_input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;
}